<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <title>Notes</title>
</head>

<body>
    <div class="welcome">
        Welcome, {{ username }}
        <div class="logout">
            <a href="/logout"><i class="fas fa-sign-out-alt" title="Sign Out"></i></a>
        </div>
    </div>
    <div class="container">
        <div class="title" placeholder="Title..." contenteditable="true" spellcheck="true" id="title"></div>
        <div class="faIconGroup">
            <div class="newNote" id="help">New note<i class="fas fa-level-up-alt"></i></div>

            <span id="invisible">
                <button class="fas fa-bold" onclick='makeBold()' id="button1" title="Bold"></button>
                <button class="fas fa-italic" onclick='makeItalic()' id="button2" title="Italic"></button>
                <button class="fas fa-underline" onclick='makeUnderline()' id="button3" title="Underline"></button>
                <button class="fas fa-list" onclick='makeList()' id="button4" title="List"></button>
                <button class="fas fa-pencil-alt" onclick="clone()" title="New Note"></button>
                <button class="fas fa-save" onclick="saveNote()" title="Save Note"></button>
                <button class="fas fa-trash" onclick="delNotes()" title="Delete Note"></button>
                <button class="fas fa-caret-square-down" title="Download" id="downloadLink" onclick="downloadNote()"></button>
            </span>
            <div class="dropdown">
                <button class="fas fa-bars"></button>
                <div class="dropdownContent" id="dropdownContent">
                </div>
            </div>
        </div>
        <div class="signOutMobile">
            <a href="/logout"><i class="fas fa-sign-out-alt" title="Sign Out"></i></a>
        </div>
        <div class="pad" id="cloneNode">
            <div class="verticalLine"></div>
            <div class="spacer"></div>
            <div class="textArea" contenteditable="true" placeholder="Write your note here!" id="note"
                spellcheck="true"></div>
            <div class="horizontalLine"></div>
        </div>
        <div id="newPad"></div>
        <div class="sideBar">
            <div class="newNoteMobile" id="help"><i class="fas fa-reply"></i>New note</div>
            <button class="fas fa-bold" onclick='makeBold()' id="button1"></button>
            <button class="fas fa-italic" onclick='makeItalic()' id="button2"></button>
            <button class="fas fa-underline" onclick='makeUnderline()' id="button3"></button>
            <button class="fas fa-list" onclick='makeList()' id="button4"></button>
            <button class="fas fa-pencil-alt" onclick="clone()"></button>
            <button class="fas fa-save" onclick="saveNote()"></button>
            <button class="fas fa-trash" onclick="delNotes()"></button>
            <button class="fas fa-caret-square-down"></button>
        </div>

    </div>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="https://kit.fontawesome.com/f1e8cb77c0.js"></script>
</body>

</html>